services:
  php:
    build: .
    container_name: php-fpm
    volumes:
      - ./:/var/www/html
    networks:
      - app-network

  nginx:
    image: nginx:stable
    container_name: nginx-server
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - app-network

  mysql:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: bookmarks
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - "3307:3306"
    networks:
      - app-network

networks:
  app-network:

volumes:
  mysql-data:
