name: Deploy PHP Site

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Lowercase owner/repo
        run: echo "LOWER_REPO=${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV

      - name: Extract short commit SHA
        run: echo "SHORT_SHA=${GITHUB_SHA::4}" >> $GITHUB_ENV

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/${{ github.actor }}/re-collection:${SHORT_SHA} .

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.actor }}/re-collection:${SHORT_SHA}

